header,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img,
ul img {
  padding: 10px 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  margin: 0 5px;
  padding: 50px 0;
  color: black;
}

li a:hover {
  border-bottom: solid 2px rgb(0, 124, 249);
  color: rgb(0, 124, 249);
}

.my_container {
  max-width: 1170px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

